<div class="nav" *ngIf = 'loggedIn == "true"'>
  <mat-toolbar class = "toolbar">
    <mat-toolbar-row>
      <button mat-icon-button class = "avatar" [routerLink] = "['/home']">
        <mat-icon>whatshot</mat-icon>
      </button>
        <h1 class="heading">{{ role }}</h1>
      <button class="settings" [disabled] = "value" mat-icon-button [matMenuTriggerFor]="menu"  >
        <mat-icon>account_circle</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click) = "perform()">
        <mat-icon>person_outline</mat-icon>
        <span>{{ loginStatus }}</span>
      </button>
    </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
